/* -- ALL -- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1: #3A3845;
    --color2: #F7CCAC;
    --color3: #ffffff;
    --color4: #C69B7B;
    --color5: #826F66;
    --color6: #29282e;
}

/* -- /ALL -- */



/* -- LOGOS -- */

.logoW{
    display: flex;
    margin-left: 35px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--color1);
}
.logoB{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--color4);
}

/* -- /LOGOS -- */



/* -- BODY -- */

body {
    font-family: Arial, sans-serif;
    background-color: var(--color4);
}

/* -- /BODY -- */



/* -- HEADER -- */ 

header {
    background-color: var(--color1);
    color: var(--color3);
}
.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 200px;
}
.header__titulo{
    font-size: 6em;
    margin-right: 100px;
}
.header__bottom ul{
    display: flex;
    background-color: var(--color4);
    justify-content: space-evenly;
    list-style: none;
    height: 30px;
    align-items: center;
}
.header__bottom ul li{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.header__bottom ul li a{
    text-decoration: none;
    color: var(--color3);
    font-size: 1.2rem;
}

/* -- /HEADER -- */



/* -- MAIN -- */

main {
    width: 100%;
    height: 500vh;
}
.main__info {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: var(--color2); 
    width: 100%;
    height: 100vh;
}

.main__info__container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    background-color: var(--color4);
    width: 95%; 
    height: 80%; 
    align-items: center; 
}
.main__info__txt{
    color: var(--color3);
    width: 60%;
    height: 90%;
    font-size: 1.5em;
}
.main__info__img{
    width: 35%;
    height: 90%;
    display: flex;
    
}
.main__info__img img{
    width: 100%;
    height: auto;
}

.main__top{
    background-color: var(--color5);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 29vh;
}
.main__top h1{
    color: var(--color3);
    font-size: 2em;
    text-align: center;
}
.main__top img{
    padding-top: 20px;
    width: 250px;
    height: 250px;
}
.main__bottom{
    height: 200vh;
    background-color: var(--color4);
}

/* -- /MAIN -- */


/* -- FOOTER -- */

footer{
    background-color: var(--color6);
    width: 100%;
    height: 100px;
}
/* -- /FOOTER -- */
.test img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('Dev Assis.png');
    background-repeat: no-repeat;
    z-index: -1;
}
.test{
font-size: 200px;
width: 100%;
height: 100vh;
}